body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: 070441;
    color: D5D2E1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: D5D2E1;
    color: 010005;
    border-radius: 10px;
}

header h1 {
    margin: 5;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: CDCCE0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color:000000;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: CDCCE0;
    color: 000000;
    border-radius: 10px;
}

a {
    color: D5D2E1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

