body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #faf2e1; /* nearly black night sky */
    color: #D3D3D3; /* light gray text */
    background-image: radial-gradient(circle, #ffffff 1px, transparent 1px);
    background-size: 2px 2px; /* denser stars */

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    padding: 15px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #708090; /* lighter black for header */
    color: #000000; /* black text */
    border-radius: 10px;
}

header h1 {
    margin: 10px; /* adjusted margin */
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    margin: 10px;
    padding: 30px;
    background-color: #ccdfe6; /* white dust for section backgrounds */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1, 0, 0, 1);
}

h2 {
    color: #000000; /* black text */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #68658c;
    color: #000000; /* black text */
    border-radius: 10px;
}

a {
    color: #000000; /* black text */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

